[flake8]
max-line-length = 100
exclude =
    nav/nav_model/nav_model_stars.py
    nav/support/correlate_old.py
    nav/support/flux.py
    nav/support/image.py

extend-ignore = E129
per-file-ignores =
    tests/config.py: E501
    nav/nav_model/nav_model_body.py: E201
